extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          | stationary 
          small &nbsp;Find places to work with wifi near you!
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href='/location') book store 
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 100m
          p.address 125 High Street, Reading, RG6 1PS
          p
            span.label.label-warning pens
            | &nbsp;
            span.label.label-warning books
            | &nbsp;
            span.label.label-warning charts
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/locationc') grocery store
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 200m
          p.address 125 High Street, Reading, RG6 1PS
          p
            span.label.label-warning oil
            | &nbsp;
            span.label.label-warning boost
            | &nbsp;
            span.label.label-warning soft drinks
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/locationd') cosmetics 
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 250m
          p.address 125 High Street, Reading, RG6 1PS
          p
            span.label.label-warning lipsticks
            | &nbsp;
            span.label.label-warning eye liner
            | &nbsp;
            span.label.label-warning powder 
            | &nbsp;
    .col-xs-12.col-sm-4
      p.lead
        | every thing is good 
